<div id="call__options" class="absolute bottom-2 left-[50%]">
    <div class="flex items-center gap-x-3">
        <button id="video__optionBtn" class="bg-slate-700 text-white text-lg flex items-center justify-center w-[2rem] h-[2rem] rounded-full hover:bg-slate-800 hover:shadow transition-all duration-300 ease-in-out">
            <span id="video__optionIcon" class="iconify" data-icon="bi:camera-video"></span>
        </button>
        <button id="audio__optionBtn" class="bg-slate-700 text-white text-lg flex items-center justify-center w-[2rem] h-[2rem] rounded-full hover:bg-slate-800 hover:shadow transition-all duration-300 ease-in-out">
            <span id="audio__optionIcon" class="iconify" data-icon="ant-design:audio-outlined"></span>
        </button>
        <button id="leave__callBtn" class="bg-rose-500 text-white text-lg flex items-center justify-center w-[2rem] h-[2rem] rounded-full hover:bg-rose-700 hover:shadow transition-all duration-300 ease-in-out">
            <span class="iconify" data-icon="fluent:call-dismiss-16-regular"></span>
        </button>
    </div>
</div>