<div id="chat__fileSendingModal" class="absolute left-[-50%] botom-2 opacity-0">
    <div class="px-3 py-3 bg-slate-700 shadow rounded flex items-center justify-between">
        <p class="font-semibold">Sending file...</p>
        <div class="flex items-center gap-x-5">
            <div id="file__loader">
                <span class="iconify" data-icon="icon-park-outline:loading-four"></span>
            </div>
            <div class="cursor-pointer" onclick="closeFileSendingModal()">
                <span class="iconify text-lg text-rose-500" data-icon="ep:close-bold"></span>
            </div>
        </div>
    </div>
</div>