{% load static %}

{% comment %}Gravatar plugin{% endcomment %}
<link rel="stylesheet" href="{% static 'css/gravatar.css' %}">
<script src="{% static 'js/gravatar.min.js' %}" defer></script>

{% comment %}Custom css{% endcomment %}
<link rel="stylesheet" href="{% static 'css/homeRightTop.css' %}">

<div class="pb-1 border-b border-gray-600">
    <div class="flex items-center justify-between">
        <div class="flex items-center gap-x-1">
            <div>
                <div data-avatar="Wasek Samin" class="avatarBlock round"></div>
            </div>
            <div class="flex flex-col gap-y-1">
                <p class="font-semibold mr-2 right__topUsername">
                    {% for account in accounts %}
                        {% if request.session.email is not None and account.email == request.session.email %}
                            {{ account.username }}
                        {% endif %}
                    {% endfor %}
                </p>
                <div class="flex items-center gap-x-1">
                    <p class="text-xs text-slate-400">Status: </p>
                    <div class="w-[0.5rem] h-[0.5rem] rounded-full bg-green-500"></div>
                </div>
            </div>
        </div>
        <div class="flex items-center gap-x-5">
            <section class="cursor-pointer p-1.5 rounded-full hover:bg-slate-600 hover:shadow transition-colors duration-300 ease-in-out">
                <span class="iconify text-lg" data-icon="icon-park-outline:logout"></span>
            </section>
        </div>
    </div>
</div>