<div id="calling__modal" class="fixed top-0 left-0 w-full max-w-screen-2xl mx-auto h-screen opacity-0">
    <div class="absolute top-[50%] left-[50%] w-[85%] sm:w-[70%] md:w-1/2 py-5 bg-slate-700 z-50 rounded shadow">
        <div class="flex justify-center items-center py-5">
            <p class="font-semibold">Calling {% if request.session.email is not None and request.session.email == sender_obj.email %}{{ receiver_obj.username }}{% else %}{{ sender_obj.username }}{% endif %}...</p>
            <input type="hidden" id="calling__value" value="{% if request.session.email is not None and request.session.email == sender_obj.email %}{{ receiver_obj.id }}{% else %}{{ sender_obj.id }}{% endif %}">
        </div>
    </div>
</div>