/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* Colors */
  /* Fonts */
  --poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--poppins);
  overflow: hidden;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

#receive__callingModal {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.show__receiveCallingModal {
  z-index: 9999 !important;
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
}

#receive__callingModal > div {
  transform: translate(-50%, -50%);
}
